<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
  <dict>
    <key>CFBundleName</key>
    <string>AliView</string>
    <key>CFBundleVersion</key>
    <string>0.8.2</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>true</string>
    <key>CFBundleExecutable</key>
    <string>JavaApplicationStub</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIconFile</key>
    <string>alignment_ico.icns</string>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeName</key>
        <string>Alignment file</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleTypeIconFile</key>
        <string>GenericJavaApp.icns</string>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>nexus</string>
          <string>nex</string>
          <string>fasta</string>
          <string>fas</string>
          <string>fa</string>
          <string>phylip</string>
          <string>phy</string>
        </array>
      </dict>
    </array>
    <key>Java</key>
    <dict>
      <key>MainClass</key>
      <string>aliview.AliView</string>
      <key>JVMVersion</key>
      <string>1.4+</string>
      <key>ClassPath</key>
      <array><string>$JAVAROOT/repo/AliView/AliView/0.8.2/AliView-0.8.2.jar</string><string>$JAVAROOT/repo/log4j/log4j/1.2.13/log4j-1.2.13.jar</string><string>$JAVAROOT/repo/commons-lang/commons-lang/2.4/commons-lang-2.4.jar</string><string>$JAVAROOT/repo/commons-io/commons-io/2.3/commons-io-2.3.jar</string><string>$JAVAROOT/repo/jebl2/jebl/0.1/jebl-0.1.jar</string></array>
      <key>VMOptions</key>
      <string>-Xmx512m -Xms128m</string>
      <key>Properties</key>
            <dict>
                <key>apple.laf.useScreenMenuBar</key>
                <string>true</string>
                <key>apple.awt.showGrowBox</key>
                <string>true</string>
            </dict>
    </dict>
  </dict>
</plist>
