# Can ignore specific files
.DS_Store

# Use wildcards as well
*~
*.swp
*debuglog.txt
hs_err_*
.goutput*


# Can also ignore all directories and files in a directory.
tmp/**/* 

deployed
target
copy_deploy.sh
copy_no_deploy.sh
copy_web.sh
.git
.settings
.classpath
.project
copy_deploy.sh
copy_no_deploy.sh
copy_web.sh
create_eclipse_proj_with_mvn.txt
deploy_remember.txt
git-commit.sh
